/* ********** base/_base.scss ********** */

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/KronaOne-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Michroma-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}