@media screen and(max-width: 650px) {
  .projectPage-container{
    .project-title{
    h3{
      font-size: 2rem !important;
    }}
  }
}
@media screen and(max-width: 375px) {
	.projectPage-container {
		.project-container{
      .project{
        margin: 10px auto 10px auto !important;
        width: 310px !important;
      }
    }
	}
}
