.presentation-container {
	height: 100vh;
	margin-top: 45px;
	max-width: 1190px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid $grey;
	text-align: center;
	.presentation-center {
		height: 100%;
		display: grid;
		grid-template-rows: 80% 20%;
		.presentation-justify{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 48px;
		}
		.img-container {
			margin-bottom: 50px;
			position: relative;
			color: $color-dark-5;
			img {
				height: 150px;
				width: 150px;
				border-radius: 80px;
				border: 5px solid $color-dark-5;
			}
			.fa-python {
				position: absolute;
				top: -60px;
				animation: bubble 1.5s infinite $courbe;
				font-size: 1.4rem;
			}
			.fa-html5 {
				position: absolute;
				left: -20px;
				top: 0px;
				animation: bubble 2.2s infinite $courbe;
			}
			.fa-node-js {
				position: absolute;
				top: 40px;
				left: -20px;
				animation: bubble 1.8s infinite $courbe;
				font-size: 1.4rem;
			}
			.fa-github-alt {
				position: absolute;
				top: 80px;
				left: -40px;
				animation: bubble 1.3s infinite $courbe;
			}
			.fa-code {
				position: absolute;
				bottom: 10px;
				//right: 100px;
				animation: bubble 2.4s infinite $courbe;
				font-size: 1.4rem;
			}
			.fa-js-square {
				position: absolute;
				//bottom: -20px;
				right: -40px;
				animation: bubble 1.6s infinite $courbe;
			}
			.fa-css3-alt {
				position: absolute;
				top: -50px;
				right: 20px;
				animation: bubble 1.9s infinite $courbe;
			}
			.fa-code-branch {
				position: absolute;
				top: 30px;
				//right: 80px;
				animation: bubble 2.1s infinite $courbe;
				font-size: 1.4rem;
			}
			.fa-codepen {
				position: absolute;
				top: 100px;
				//right: 60px;
				animation: bubble 1.7s infinite $courbe;
			}
		}
		.title-container {
			margin-bottom: 100px;
			h1 {
				font-family: $font-2;
				font-weight: normal;
				margin-bottom: 20px;
				color: $color-dark-5;
				font-size: 3rem;
			}
			h2 {
				font-family: $font-2;
				font-weight: normal;
				font-size: 1.2rem;
			}
		}
		.telecharger {
			background-color: $color-dark-5;
			width: 180px;
			height: 48px;
			border-radius: 10px;
			&:hover{
			background: $color-1;
			}
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white;
				font-weight: bold;
				height: 100%;
				width: 100%;
				
			}
		}
		.description-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3 {
				font-family: $font-1;
				font-size: 1.8rem;
				margin-bottom: 10px;
			}
		}
	}
}
