/* ********** utils/_variables.scss ********** */

// font
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;

// style light
$color-1: #ff7b77;
$color-2: #ffd0c4;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

// style dark
$color-dark-1: #12202A;
$color-dark-2: #006fed;
$color-dark-3:#0E3A52;
$color-dark-4: #162733;
$color-dark-5:#667BD3;
$grey:#8599A5;
$red: rgb(253, 87, 87);

$courbe: cubic-bezier(0.39,0.575,0.28,0.995);



